body {
    margin: 0px;
    background-color: lightsteelblue;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    position: relative;
    background-color: darkblue;
    width: calc(274px * 4);
    height: calc(152px * 4);
    border: 10px solid white;
}

#net {
    width: calc(50% - 5px);
    height: 100%;
    border-right: 10px dotted white;
}


#paddle-02 {
    position: absolute;
    top:50px;
    left:10px;
    bottom:0;
    width: 20px;
    height: 100px;
    background-color: white;
}

#paddle-01 {
    position: absolute;
    /* top:50px; */
    right: 10px;
    /* left:10px; */
    bottom:50px;
    width: 20px;
    height: 100px;
    background-color: white;
}

#ball {
    position: absolute;
    top: 350px;
    /* right:10px; */
    left:400px;
    bottom:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

#score-01 {
    position: absolute;
    font-size: 175px;
    top: 1px;
    right:400px;
    border-radius: 50%;
    color: white;
    opacity: 50%;
}

#score-02 {
    position: absolute;
    font-size: 175px;
    top: 1px;
    left:400px;
    border-radius: 50%;
    color: white;
    opacity: 50%;
}