body {
    margin: 0px;
    background-color: lightsteelblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    position: relative;
    background-color: darkblue;
    /* width: 1096px; */
    width: 70vw;
    /* height: 608px; */
    height: 38vw;
    border: 13px solid lightslategray
    /* transform: scale(2, 2); */
}

#net {
    width: calc(50% - 0.25vw);
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 0.5vw dashed lightslategray;
}


#paddle2 {
    position: absolute;
    top: 4vw;
    left: 0.5vw;
    /* width: 20px;
    height: 100px; */
    width: 1.5vw;
    height: 8vw;
    background-color: white;

    pointer-events: none;
}

#paddle1 {
    position: absolute;
    right: 0.5vw;
    bottom: 4vw;
    width: 1.5vw;
    height: 8vw;
    background-color: white;

    pointer-events: none;
}

#ball {
    position: absolute;
    top: 26vw;
    left:30vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: white;
}

#score1 {
    position: absolute;
    font-size: 10vw;
    top: -1vw;
    right:27vw;
    border-radius: 50%;
    color: white;
    opacity: 50%;
}

#score2 {
    position: absolute;
    font-size: 10vw;
    top: -1vw;
    left:27vw;
    border-radius: 50%;
    color: white;
    opacity: 50%;
}

